<component name="ArtifactManager">
  <artifact type="war" name="SpringForm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="FormAndSpringForm-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringForm:war exploded" />
    </root>
  </artifact>
</component>